h1 {
    font-size: 42px;
    color: brown;
}

p {
    background-color: lightgreen;
    text-align: right;
    width: 400px;
}

.zeleno {
    border: 2px solid green;
}

p.zeleno {
    text-align: center;
}

#mypar {
    text-align: left;
    font-size: 36px;
    color: brown;
}

#mypar2 {
    color: blue;
}

a {
    width: 200px;
    display: inline-block;
}

div {
    border: 1px dashed blue;
    display: inline-block;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}